[submodule "Framework/readium-sdk"]
	path = Framework/readium-sdk
	url = https://github.com/readium/readium-sdk.git
[submodule "External/SimpleHTTPServer"]
	path = External/SimpleHTTPServer
	url = https://github.com/readium/SimpleHTTPServer.git
